
<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
    <div class="overlay">
        <div class="container">
            <h1 class="entry-title">Reserva de horas</h1>
            <p>Para reservar seleccione el tipo de prestación, si es consulta debe seleccionar el profesional, si es
                exámen seleccionar el tipo del mismo a realizar</p>
        </div>
    </div>
</section>


<section class="appointment-sec text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure><img src="public/image/appointment-img.jpg" alt="image" title="Appointment image"
                             class="img-responsive lady1"></figure>
            </div>
            <div class="col-md-6">
                <div class="appointment-form clearfix">
                    <div class="form-group">
                        <label for="inputPrestacion" class="col-md-6 control-label">TIPO PRESTACIÓN</label>
                        <div>
                            <select id="inputPrestacion" ng-model="prestacionSeleccionada"
                                    ng-change="logicaPrestacion()">
                                <option id="CONSULTA" selected>CONSULTA MÉDICA</option>
                                <option id="EXAMEN">EXÁMEN DE LABORATORIO</option>
                            </select>
                        </div>
                    </div>
                    <div id="tipoEspecialidad" class="form-group">
                        <label for="inputEspecialidad" class="col-md-6 control-label">ESPECIALIDAD</label>
                        <div>
                            <select id="inputEspecialidad" ng-model="usuariosEspecialidad" ng-change="actualizarMedicos();">
                                <option ng-repeat="esp in especialidadesMedicas" value="{{esp.usuarios}}">
                                    {{esp.nombre | uppercase}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div id="tipoProfesional" class="form-group">
                        <label for="inputProfesional" class="col-md-6 control-label">PROFESIONAL</label>
                        <div>
                            <select id="inputProfesional">
                                <option ng-repeat="usuario in doctoresPorEspecialidad" value="{{usuario.id}}">
                                    {{usuario.nombres +" "+ usuario.apellidoPaterno +" "+ usuario.apellidoMaterno | uppercase}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div id="tipoPrestacion" class="form-group">
                        <label for="inputExamen" class="col-md-6 control-label">EXÁMEN</label>
                        <div>
                            <select id="inputExamen">
                                <option ng-repeat="esp in especialidadesLaboratorio" value="{{esp.id}}">
                                    {{esp.nombre | uppercase}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <input type="text" placeholder="Rut" id="rutUsuario" name="rutUsuario" ng-blur="buscarRut(this)" ng-model="rutUsuario">
                    <input type="text" placeholder="Nombre">
                    <input type="email" placeholder="Correo">
                    <input type="text" placeholder="Telefono">
                    <input type="text" id="datepicker" placeholder="Fecha">
                    <select id="selectHora">
                        <option>9:30</option>
                        <option>9:30</option>
                        <option>9:30</option>
                        <option>9:30</option>
                        <option>9:30</option>
                    </select>
                    <textarea placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar" class="btn btn-default btn-rounded">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="after-booking-sec text-center">
    <div class="container">
        <h1>Después de reservar</h1>
        <p class="lead">Al finalizar su reserva, recibirá un correo con la información de su reserva, 24 horas antes de
            esta un
            ejecutivo se comunicará para confirmar.</p>
        <ul class="medicom-feature-list list-inline text-left">
            <li><i class="fa fa-check medicom-check"></i>Profesionales capacitados en todas las áreas.</li>
            <li><i class="fa fa-check medicom-check"></i>Equipo médico de ultima generación.</li>
            <li><i class="fa fa-check medicom-check"></i>Historial médico.</li>
            <li><i class="fa fa-check medicom-check"></i>Comprometidos con su bienestar.</li>
        </ul>
    </div>
</section>


<div class="colourfull-row"></div>